@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

// Variables
$fontFamily: "Poppins", sans-serif;
$primary: #4ca6f6;
$secondary: #105fa5;
$alternative: #b8ddff;
$white: #e5e6e7;
$bg: #181920;
$gray: #30373e;

#root {
    font-family: $fontFamily;
    .cursor-pointer {
        cursor: pointer;
    }
    .bg-body {
        background-color: $bg !important;
    }

    .text-white {
        color: rgba(255, 255, 255, 0.829);
    }

    .bg-body-tertiary {
        background-color: $gray !important;
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    /* Add this to your CSS file */
    .letter-spacing-sm {
        letter-spacing: 0.05em; /* Adjust value as needed */
    }

    .letter-spacing-md {
        letter-spacing: 0.1em; /* Adjust value as needed */
    }

    .letter-spacing-lg {
        letter-spacing: 0.3em; /* Adjust value as needed */
    }

    #login {
        background-color: $bg;
        height: 100vh;
        display: flex;
        color: $white;

        input {
            color: white;
        }
        .form-control {
            background-color: $bg;
            min-width: 300px;
            margin: 0 5px;
        }
        .form-floating {
            background-color: $bg;
        }
        a {
            text-decoration: none;
            color: white;
            font-weight: 100;
            margin-block: 15px;
        }
        .form-floating > .form-control-plaintext ~ label::after,
        .form-floating > .form-control:focus ~ label::after,
        .form-floating > .form-control:not(:placeholder-shown) ~ label::after,
        .form-floating > .form-select ~ label::after {
            background-color: transparent;
        }
        .form-floating > .form-control-plaintext ~ label,
        .form-floating > .form-control:focus ~ label,
        .form-floating > .form-control:not(:placeholder-shown) ~ label,
        .form-floating > .form-select ~ label {
            color: white;
            opacity: 75%;
        }

        .registerSwitch {
            cursor: pointer;
        }
    }

    #leftsidebar {
        /* CSS to handle icon change based on collapse state */
        .icon-toggle {
            transition: transform 0.3s ease;
        }

        .collapse.show + p a .icon-toggle {
            transform: rotate(45deg); /* Change icon on expand */
        }

        /* For plus to minus icon rotation */
        .icon-toggle::before {
            content: "\f067"; /* Font Awesome plus icon */
        }

        .collapse.show .icon-toggle::before {
            content: "\f068"; /* Font Awesome minus icon */
        }
    }
}
